h1 {
 text-indent:26px;
 }

 .inheader {
   padding-left: 85px;
   margin-top: -10px;
 }

body {
    padding-top: 70px;
}

.navbar .navbar-nav {
display: inline-block;
float: none;
}

.nav.navbar-nav li a {
    color: whitesmoke;
}

.navbar .navbar-collapse {
text-align: center;
}

.jumbotron {
  background-image: url("images/header.jpg");
  background-size:cover;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

.spacer {
    margin-top: 50px;
}

.feature: {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}
